
/* ............................  SALES.HTML................................................ */
*{
  background-color: rgb(185, 148, 27);
 
}


#salesTitle{
   font-family: 'Indie Flower', cursive;
   font-size: 50pt;
   text-align: center;
}

#store-table{
  border: black 1pt solid;
}

#input-area{
  border: black 1pt solid;
}







/* ....................................INDEX.HTML.......................................... */

#head{
text-align: center;
font-size: 25pt;
font-family: 'Alegreya', serif;
}


#title{
  font-family: 'Indie Flower', cursive;
  font-size: 45pt;
  text-align: center;
}

#topArt{
  display: flex;
  align-items: flex-end;
 padding-left: 15%;
}
#homeSalmon{
  height: 200px;
  width: 500px;
 
}
#cookie{
  height: 100px;
  width: 100px;
}
body{
  background-color: rgb(185, 148, 27);
}



#store-table{
  font-size: 10pt;
  border: 1px solid black;
  color: rgb(133, 45, 4);
  background-color: bisque;
}

td, th{
  border: 1px solid black;

}
/* #input-area{
padding: 40pt;
}
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} */

#family{
  display: block;
  margin: auto;
  height: 25%;
  width: 30%;
}